/* Heading Content  */
.heading-content{
    background-color: #f5f5f5;
}
.heading-content-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3f4964;
    border:5px solid white;
}
.ourStoriesImg,.ourMissionImg,.ourVisionImg{
    overflow:hidden;
}
.ourStoriesImg img,.ourMissionImg img,.ourVisionImg img{
    transition:500ms transform ease-in-out;
}
.ourStoriesImg img:hover,.ourMissionImg img:hover,.ourVisionImg img:hover{
    transform:scale(1.05);
}
